{% extends 'main/main.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Santhanabalan V</h1>
      <p>I'm <span class="typed" data-typed-items="AI/Ml Enthusiast!, Developer, Freelancer, Techie"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am Santhanabalan V. I am currently pursuing my UG degree (BE) in Kumaraguru College of Technology. I am a Techie! (Don't ask me for PC,Mobile repairs,XD!</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Engineer &amp; Web Developer.</h3>
            <p class="fst-italic">
              A very passionate developer who is naturally attracted by Technology and who loves to bring breakthroughs in Technolgy.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 Oct 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>santhanabalan.ml</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8124153806</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nagapattinam, Tamil Nadu</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>18</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>bala2102002@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              I am very much interested in the field of AI &amp; ML and I am keenly concentratng on those fields to quench my thirst towards technology.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>A kind and charming person who loves spread positive vibes.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-journal-check"></i>
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Professional</strong> Certifications</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> and counting...</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-journal-code"></i>
              <span data-purecounter-start="0" data-purecounter-end="95" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>CGPA</strong> Cumulative Grades per annum</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-code-slash"></i>
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Domains</strong> surfed...</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Here are my Technical Skills which I gained through my work experience from working on various projects.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML CSS JS (Web Development) <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python (Programming , AI and ML) <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C (Programming) <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Matlab (Mathematical Analysis) <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop Lightroom Canva <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">ReactJS (Mobile App Development) <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Enthusiastic College student!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>SANTHANABALAN V</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Coimbatore, Tamilnadu, India</li>
                <li>(91) 8124153806</li>
                <li>admin@santhanabalan.ml</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Schooling</h4>
              <h5>2006 - 2020</h5>
              <p><li><em>RVS Bharath Matric H.S.S, Ayakkaranpulam, India (2006-2013)</em></li>
                <li><em>St. Antony's M.H.S.S, Vedharanyam, India (2013-2018)</em></li>
                <li><em>Sowdambikaa M.H.S.S, Thurayur, Trichy, India (2018-2020)</em></li>
              </p>
              <p>A Smart and Enthusiastic kid who loves to learn new things practically.I was always well liked and had plenty of friends.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Information Science and Engineering</h4>
              <h5>2020 - 2024</h5>
              <p><em>Kumaraguru College of Technology, Coimbatore, India</em></p>
              <p>I am currently a fresher at Kumaraguru College of Technology where I am majoring in Information Science and Engineering. A believer in learning by doing. Energetic and passionate about my work.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>iQube</h4>
              <h5>2021 - Present</h5>
              <p><em>Kumaraguru College of Technology, Coimbatore, India</em></p>
              <ul>
                <li>Designed Websites.</li>
                <li>Trained ML models for various predictions by Supervised learning.</li>
                <li>Developed an Android/ios Application based on ReactJS.</li>
                <li>Gained exposure to various Domains such as Web/App development, Cyber Security, AI/ML, AR/VR, Embedded and Iot and more.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>SEDS Media Team Member</h4>
              <h5>2020 - Present</h5>
              <p><em>Kumaraguru College of Technology, Coimbatore, India</em></p>
              <ul>
                <li>Designed Promotional Poster for instagram page of SEDS KCT.</li>
                <li>Gained exposure to photo editing software like Canva , Photoshop.</li>
                <li>Attended Space Science related Webinars.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>ré- KCT's Platform for Research and Exploration</h4>
              <h5>2021 - Present</h5>
              <p><em>Kumaraguru College of Technology, Coimbatore, India</em></p>
              <ul>
                <li>Intern at ré</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Sprout Kumaraguru</h4>
              <h5>2020 - Present</h5>
              <p><em>Kumaraguru College of Technology, Coimbatore, India</em></p>
              <ul>
                <li>Completed Certified AWS Course Part I</li>
                <li>Completed Certified AWS Course Part II</li>
                <li>Pursing Entrepreneurship and New Product Development Course.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p> These are the Projects and works that I have done.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-aiml">AI/ML</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-1.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-1.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="https://santhanabalan.ml/portfolio/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-2.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-2.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://snack.expo.dev/@santhanabalan/kic_appdev" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-3.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-3.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="https://santhanabalan.ml/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-4.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-4.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="https://santhanabalan.ml/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-5.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-5.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="https://santhanabalan.github.io/santhanabalan2.github.io/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-6.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-6.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="https://santhanabalan.github.io/santhanabalan2.github.io/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-aiml">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-7.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-7.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Santhanabalan/Machine-Learning/blob/main/Titanic/Santhanabalan_Titanic_DATASET.ipynb" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-aiml">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-8.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-8.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Santhanabalan/Machine-Learning/blob/main/Wine%20Quality/Santhanabalan-Wine%20Quality.ipynb" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-aiml">
            <div class="portfolio-wrap">
              <img src=" {% static 'img/portfolio/portfolio-9.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'img/portfolio/portfolio-9.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Santhanabalan/Machine-Learning/blob/main/IRIS/Santhanabalan_IRIS_DATASET.ipynb" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>I can work on Web Development projects and love to explore AI/ML domain as a freelancer.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Django</a></h4>
            <p class="description">Python Based Backend Framework.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">HTML/CSS/JS</a></h4>
            <p class="description">Frontend development</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">React</a></h4>
            <p class="description">Frontend Framework</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Tensorflow</a></h4>
            <p class="description">Machine-Learning</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">OpenCV</a></h4>
            <p class="description">Machine-Learning</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Pandas</a></h4>
            <p class="description">Machine-Learning</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Here is what people I met think about me!</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Coder!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/pr7.png' %}" class="testimonial-img" alt="">
                <h3>Prasanna Raj A</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Skillful Django Developer
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/palani.png' %}" class="testimonial-img" alt="">
                <h3>Dharsan S</h3>
                <h4>Web Developer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Techie who explores tech domains.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/btc.png' %}" class="testimonial-img" alt="">
                <h3>Madhavanesh Kannan</h3>
                <h4>Satoshi Nakamoto</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Really good at collaborative work
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/harsha.png' %}" class="testimonial-img" alt="">
                <h3>Harsha Adhithya</h3>
                <h4>Full Stack Developer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Web dev buddy!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/ak.png' %}" class="testimonial-img" alt="">
                <h3>Akshay S</h3>
                <h4>Web Designer</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel free to contact me for any Queries and Feedbacks. Also check me out on other Social Medias</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kumaraguru College of Technology, Coimbatore, Tamilnadu, India 614714)</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>admin@santhanabalan.ml</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 8124153806</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.4772828440673!2d76.98747851478885!3d11.07776209211746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f81b7514a15f%3A0x155e29f8d14154fc!2sKumaraguru%20College%20of%20Technology!5e0!3m2!1sen!2sin!4v1673190526748!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}